.asimovian-regular{font-family:"Asimovian",sans-serif;font-weight:400;font-style:normal;color:white;font-size:18px;}
.asimovian-regular-24px{font-family:"Asimovian",sans-serif;font-weight:400;font-style:normal;color:white;font-size:22px;}
.arc-heading-centered{text-align:center;font-family:"Asimovian",sans-serif;font-weight:400;font-style:normal;color:white;font-size:88px;}
.arc-body-centered{text-align:center;font-family:"Asimovian",sans-serif;font-weight:400;font-style:normal;color:white;font-size:18px;}
.center_img{display:block;margin-left:auto;margin-right:auto;width:50%;}
.game-picture{width:100%;}
.logo-picture{width:100%;}
.p1{text-align:center;}
.padding{padding:5%;}
body{background-color:black;}
hr{background-color:white;}
input[type=text],select,textarea{width:90%;padding:12px;border:1px solid#ccc;border-radius: 4px;box-sizing:border-box;margin-top:6px;margin-bottom:16px;resize:vertical;}
input[type=submit]{background-color:black;color:white;padding:12px 20px;border:2px solid;border-radius:4px;border-color:white;cursor:pointer;}
input[type=submit]:hover{background-color:#111111;}
ul{list-style-type:none;margin:0;padding:0;overflow:hidden;background-color:black;}
ul li{float:left;}
ul li a{display:block;color:white;text-align:center;padding:14px 16px;text-decoration:none;}
ul li a:hover{background-color:#111111;}
buy_button{text-align:center;}
buy_button btn a{display:block;color:white;text-align:center;padding:14px 16px;text-decoration:none;}
buy_button btn a:hover{background-color:#111111}
.container{text-align: center;}
.category{display: inline-block;}
.black_dlg{background-color:black;color:white;}
.button-container {display: flex;background-color:black;justify-content: center;align-items: center;}

@media screen and (min-width:800px) {


}


